<h1>Ajouter un utilisateur</h1>

<form method="post" action="/ajouter">
    <input type="text" name="login" placeholder="Login"/>
    <input type="password" name="pwd" placeholder="Mot de passe"/>
    <input type="submit" value="Ajouter"/>
</form>